.nav__container {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: $nav-width;
	min-height: 100vh;
	height: 100%;
	transform: translateX(-100%);
	z-index: 1000;
	
	background: color(secondary, dark);
	color: color(gray, light);
	transform: 1s all ease-out;

	&.nav__visible { 
		left: $nav-width;
		box-shadow: 4px 0 8px 0 rgba(color(gray, jet), 0.5);
	}

	@include breakpoint($small-screen) { 
		transform: translateX(0%); 

		&.nav__visible { 
			left: 0;
			box-shadow: none;
		}
	}
}

.nav__items {
	margin: 0;
	padding: $banner-height 0 0;
	list-style: none;

	li {
		height: 44px;

		&:hover { background: color(secondary, light); }

		a {
			padding: 0 11px;
			display: block;	
			line-height: 44px;
			text-decoration: none;
			color: color(gray, light);
		}
	}
}