.header__container {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - #{$nav-width});
	height: 66px;
	overflow: hidden;
	text-align: center;
	color: color(gray, light);
}
