.header__container {
	margin: 0;
	padding: 0 0 0 $nav-width;
	width: calc(100% - #{$nav-width});
	height: 66px;
	overflow: hidden;
	text-align: center;
	background: color(secondary, dark);
	color: color(gray, light);

	a {
		text-decoration: none;
		color: color(gray, light);
	}
}
