.main__container {
	position: relative;
	height: 100%;
	min-height: 100vh;
	background: color(primary, light);
}

.main__content {
	margin: 0 0 88px $nav-width;
	padding: 22px;
	width: calc(100% - #{$nav-width} - 44px);

	h1,
	h2 {
		color: color(primary, dark);
		text-align: center;
	}

	p,
	ol,
	span {
		color: color(gray, jet);
	}
}
