.main__container {
	position: relative;
	height: 100%;
	min-height: 100vh;
	background: color(secondary, dark);
}

.main__content {
	padding: 22px;
	position: absolute;
	top: $banner-height;
	left: $nav-width;
	width: calc(100% - #{$nav-width} - 44px);
	height: calc(100vh - #{$banner-height * 2} - 44px);
	overflow: auto;
	background: color(primary, light);

	h1,
	h2 {
		color: color(primary, dark);
		text-align: center;
	}

	p,
	ol,
	span {
		color: color(gray, jet);
	}
}
